* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
}

.navigation, .toprow, .products, .reviews {
    padding-left: 10%; 
    padding-right: 10%; 
}

.logo {
    font-weight: bolder;
}

.navigation {
    background-color: #1f2937;
    color: white;
    display: flex;
    margin-bottom: 5%;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.toprow {
    display: flex;
    background-color: #1f2937;
    color: white;
    padding-bottom: 32px;
    padding-top: 5%;
}

img {
    margin: 0px 0px 32px 32px;

}

h2 {
    text-align: center;
    margin-bottom: 8%;
}

.products {
    display: flex;
    flex-direction: column;
    height: 300px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.cards  {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 2rem;
}

.card {
    border: solid #3882f6 2px;
    padding: 16px;
    border-radius: 12px;
    width: 130px;
    height: 150px;
}

.reviews {
    background-color: rgb(242, 242, 242);
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    color: white;
    background-color: #3882f6;
    padding: 8px 22px;;
    border-radius: 8px;
    border: 0px;
}

.review {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: italic;
}

.reviewee {
    font-weight: bold;
    justify-content: right;
}

.CTA {
    display: flex;
    padding: 32px;
    background-color: #3882f6;
    margin: 32px;
    border-radius: 8px;
    color: white;
}